<a href="https://colab.research.google.com/github/DEEPESH98/Basic-C-programs/blob/master/pr1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
# loading data
df=pd.read_csv('pos_sal.csv')

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
Position    10 non-null object
Level       10 non-null int64
Salary      10 non-null int64
dtypes: int64(2), object(1)
memory usage: 320.0+ bytes

In [0]:
# exp 
exp=df.iloc[:,0:1].values

In [168]:
df.head()

            Position  Level  Salary
0   Business Analyst      1   45000
1  Junior Consultant      2   50000
2  Senior Consultant      3   60000
3            Manager      4   80000
4    Country Manager      5  110000

In [0]:
# for pol model
x=df.iloc[:,1:2].values

In [0]:
# salary for poly
y=df.iloc[:,2:].values

In [0]:
# apply liner regression first
from sklearn.linear_model import  LinearRegression

In [175]:
regr=LinearRegression
trained=regr.fit(x,y)

TypeError: ignored

In [0]:
# plotting graph againts the data
plt.xlabel("position")
plt.ylabel("salary")
plt.scatter(x,y,label="actual salar as per level")
plt.plot(x,trained1.predict(exp),label="Linear predict sal")
plt.legend
plt.show()

In [166]:
# exp fir
newexp=poly.fit_transform(exp)

ValueError: ignored

In [0]:
newexp

In [0]:
# apply linear regression
trained1=regr.fit(exp,sal)

In [0]:
# now creating model again
plt.xlabel("exp")
plt.ylabel("sal")
plt.scatter(exp,sal,label="actual sal")
plt.plot(exp,trained1.predict(exp),label="Linear predict sal")
plt.legend
plt.show()

In [0]:
# apply new exp data in model
regr2=LinearRegression()

In [0]:
# new exp data apply
trained2=regr2.fit(newexp,sal)

In [0]:
# now creating model again
plt.xlabel("exp")
plt.ylabel("sal")
plt.scatter(exp,sal,label="actual sal")
plt.plot(exp,trained2.predict(newexp),label="new model")
plt.legend
plt.show()